/* Container pembungkus utama untuk kontrol lebar */
.section-wrapper {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 6px;
  box-sizing: border-box;
}

/* Tampilan setiap section */
.section-container {
  background-color: #E8D8C3;
  border-radius: 12px;
  padding: 24px 24px 24px 48px; /* top right bottom left */
  margin-bottom: 32px;
}

/* Khusus section pembelian */
.section-container-pembelian {
  background-color: #E8D8C3;
  border-radius: 12px;
  padding: 24px 8vw;
  margin-bottom: 32px;
}

/* Scroll anchor padding */
.section-scroll-margin {
  scroll-margin-top: 80px;
}

/* Style judul section */
.section-title {
  color: #4E342E;
  margin-bottom: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 630  !important;
  font-size: 36px !important;
  text-align: center;  
}

/* Paragraf */
.section-text {
  text-align: justify;
  color: #4E342E;
}
